body {
  text-align: center;
}

.intro {
  font-weight: bolder;
  font-size: 20px;
}

.introtwo{
  font-size: 14px;
  font-weight: normal;
}
.bg {
  background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper5/heic0406b.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
